<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">

  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <h1 class="my-1 text-center text-2xl font-bold leading-9 text-gray-900">ユーザー一覧</h1>
  </div>

  <div id="users">
    <% @users.each do |user| %>
      <div class="my-3 card w-full bg-base-100 shadow-xl">
        <div class="card-body">
          <div class="flex items-center justify-between"> <!-- Flexbox container -->
            <div>
              <%= render user %>
            </div>

            <div>
              <%= link_to "詳細", user, class: "btn btn-primary " %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

</div>
