  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <%= render @user %>
  </div>

  <div class="flex mt-3 sm:mx-auto sm:w-full sm:max-w-sm">
    <div class="mr-3 btn btn-outline btn-primary flex-auto w-full justify-center rounded-md">
      <%= link_to "ユーザー編集", edit_user_path(@user) %>
    </div>
    <div class="ml-3 btn btn-outline btn-primary flex-auto w-full justify-center rounded-md">
      <%= link_to "ユーザー一覧", users_path %>
    </div>
  </div>
