<div class="navbar bg-base-100">
  <div class="flex-1">
    <a class="btn btn-ghost text-xl">かかってる？</a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li>
        <%= link_to "ランダム生成", nazokakes_path %>
      </li>
      <li>
        <%= link_to "投稿一覧", posts_path %>
      </li>
      <li>
        <%= link_to "新規登録", new_user_path %>
      </li>
      <li>
        <%= link_to "ログイン", login_path %>
      </li>

    </ul>
  </div>
</div>
